<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd
            http://www.springframework.org/schema/util
            http://www.springframework.org/schema/util/spring-util.xsd
            http://www.springframework.org/schema/mvc
            http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <bean id="connectionFactory" class="org.apache.activemq.spring.ActiveMQConnectionFactory">
        <!-- 使用TCP连接ActiveMQ -->
        <property name="brokerURL" value="tcp://127.0.0.1:61616" />
    </bean>
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <!-- 指定connectionFactory -->
        <property name="connectionFactory" ref="connectionFactory" />
    </bean>
    <!-- 发送消息队列 -->
    <bean id="requestDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <!-- 消息队列名称 -->
        <constructor-arg index="0" value="requestQueue" />
    </bean>
    <!-- 应答消息队列 -->
    <bean id="replyDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <!-- 消息队列名称 -->
        <constructor-arg index="0" value="replyQueue" />
    </bean>
    <!-- 生产者 -->
    <bean id="producer" class="com.brctl.mq.Producer">
        <property name="jmsTemplate" ref="jmsTemplate" />
        <property name="requestDestination" ref="requestDestination" />
        <property name="replyDestination" ref="replyDestination" />
    </bean>
    <!-- 消费者 -->
    <bean id="consumer" class="com.brctl.mq.Consumer">
        <property name="jmsTemplate" ref="jmsTemplate" />
    </bean>
    <!-- 监听容器 -->
    <bean id="jmsContainerRequest" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="destination" ref="requestDestination" />
        <property name="messageListener" ref="consumer" />
    </bean>
    <!-- 应答监听容器 -->
    <bean id="jmsContainerReply" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="destination" ref="replyDestination" />
        <property name="messageListener" ref="producer" />
    </bean>

</beans>
